.inner-chat-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.chat-header {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: black 1px solid;
}

.message-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-left {
    width: 100%;
    display: flex;
    justify-content: left;
}


.message-right {
    width: 100%;
    display: flex;
    justify-content: right;
}

.message-bar {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.input-message {
    border: black 1px solid;
    width: 100%;
    border-radius: 15px;
}

.input-message:focus-visible {
    outline: none!important;
    border-color: black;

}



.send-message-button {
    fill: white;
    aspect-ratio: 1/1;
    width: 45px;
    border-radius: 50%;
    border: #0d6efd 2px solid;
    background: #0d6efd;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: background-color 200ms ease-in;
}

.send-message-button:hover {
    background: rgba(13, 110, 253, 0.79);
}

.send-icon {
    height: 35px;
    width: 35px;
}
