.inner-message-container {
    border-radius: 10px;
    padding: 5px;
    max-width: 400px;
    width: 40%;
    min-width: 80px;
    position: relative;
    margin-right: 15px;
    border: #2a2a2a 1px solid;
}

.message-content {
    text-align: left;
}

.time-stamp-text {
    color: #b7b7b7;
    position: absolute;
    right: 5px;
    bottom: 4px;
}

.message-header {
    width: 100%;
    color: #0d6efd;
}

.blue {
    background-color: #0d6efd;
    color: white;
}

.blue-header {
    color: white;
    font-weight: bold;
}